.dropping {
  background: #fefefe;
  transition: all 0.3s;
}

.start {
  transform: scale(0);
  opacity: 0;
}

.end {
  transform: scale(1);
  opacity: 1;
  /* transition: opacity 0.5s; */
  transition: all 0.5s;
}
